<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script>
        function confirmAction() {
            confirm("¿Estas seguro?");
        }
    </script>
    <meta charset=”utf-8”>
    <title>Suber</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Suber</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/newTrip">Nuevo viaje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listTrips">Listado de viajes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hi">Hi</a>
                </li>
            </ul>
        </div>
        {%if logout_link and user != None %}
        <span style="margin : 10px" class="label label-primary">{{user.nickname()}}</span>
        <a class="btn btn-outline-success my-2 my-sm-0" href="{{logout_link}}"> Logout</a>
        {% endif %}
    </nav>


    {% block content %}{% endblock %}
</div>
</body>
</html>